@charset "utf-8";
/* CSS Document */


main {padding: 3rem;}

h1, h2 {color: #333;}

table {width: 100%;
       border-collapse: collapse;
       margin-bottom: 5px;}
            
	
th, td {padding: 10px;
        text-align: center;
        border-bottom: 1px solid rgba(0,1,2,0.15);}
            
        
th {background-color: rgba(35,78,52,0.10);}
            
        
tr:nth-child(even) {background-color: #f9f9f9;}
            
        
footer {background-color: #333;
		color: #fff;
		text-align: center;
		padding: 1rem;
		position: fixed;
		bottom: 0;
		width: 100%;}
    


.container {max-width: 1200px;
            margin: 50px  auto 20px;
           /* padding: 20px;*/
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            border-radius: 15px;}
            


.info-box {flex: 1;
           padding: 10px;
           background-color: rgba(24,74,30,0.10);
		   text-align: center;
           border-radius: 8px;
           margin: 5px;
           box-sizing: border-box;}
			
            

@media (max-width: 800px) {
  .info-box  h2 {font-size: 1rem;}
        	table {font-size: 0.8rem;}}
